/* 表格样式 */
.agel-table {
  .el-table {
    /* 表格斑马纹 */
    --el-fill-color-lighter: #f7f8fb;
    /* --el-table-header-bg-color: rgba(45,110,247,0.1); */
    --el-table-header-bg-color: #f9f9f9;
    tr {
      height: 40px;
    }
    .el-table__header-wrapper {
      font-size: 18px;
      font-family: Alibaba PuHuiTi;
      font-weight: 500;
      color: #3c3e45;
      line-height: 20px;
    }

    .el-table__header-wrapper .cell {
      font-size: 14px;
      font-family:
        PingFang SC,
        PingFang SC-500;
      font-weight: 500;
      color: #475669;
      line-height: 14px;
    }

    .el-table__body-wrapper .cell {
      font-size: 14px;
      font-family:
        PingFang SC,
        PingFang SC-400;
      font-weight: 400;
      color: #000000;
      line-height: 14px;
    }
    tbody {
      font-size: 18px;
      font-family: Alibaba PuHuiTi2;
      font-weight: 400;
      color: #3c3e45;
      line-height: 20px;
    }
  }

  .el-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
