$--el-menu-bg-color: rgb(48, 65, 86);

/* -----------------------  弹窗  --------------------------- */

.form-dialog.el-dialog {
  padding: 0 0 10px 0;

  .el-dialog__header {
    padding: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background: #f6f7fb;
    font-size: 16px;
    font-family:
      PingFang SC,
      PingFang SC-500;
    font-weight: 500;
    color: #262626;

    .el-dialog__headerbtn {
      .el-icon {
        font-size: 18px;
      }
    }
  }

  .el-dialog__body {
    padding: 20px 20px 0;

    .title {
      font-size: 14px;
      font-family:
        PingFang SC,
        PingFang SC-500;
      font-weight: 500;
      color: #333333;
      line-height: 24px;
    }
  }

  .form-content {
    max-height: 50vh;
    overflow-y: auto;
    padding: 10px;
  }

  .dialog-footer {
    padding: 10px 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: right;
  }
}
